name: Version 13

on:
  pull_request:
    branches:
      - main
    paths:
      - images/production/**
      - .github/workflows/build_version_13.yaml
      - .github/workflows/reuse_build_push.yaml
      - resources/**

  schedule:
    # Every day at 12:00 pm
    - cron: 0 0 * * *

  workflow_dispatch:

jobs:
  v13:
    uses: ./.github/workflows/reuse_build_push.yml
    with:
      version: "13"
      build-args: |
        FRAPPE_BRANCH=version-13
        ERPNEXT_BRANCH=version-13
        PYTHON_VERSION=3.9.9
        NODE_VERSION=14.19.3
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
