name: Version 14

on:
  pull_request:
    branches:
      - main
    paths:
      - images/production/**
      - .github/workflows/build_version_14.yaml
      - .github/workflows/reuse_build_push.yaml
      - resources/**

  schedule:
    # Every day at 12:00 pm
    - cron: 0 0 * * *

  workflow_dispatch:

jobs:
  v14:
    uses: ./.github/workflows/reuse_build_push.yml
    with:
      version: "14"
      build-args: |
        FRAPPE_BRANCH=version-14
        ERPNEXT_BRANCH=version-14
        PYTHON_VERSION=3.10.5
        NODE_VERSION=16.18.0
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
