name: Publish Helm Chart
on:
  push:
    branches:
      - main
    paths:
      - charts/**
      - cr.yaml
      - .github/workflows/publish_helm.yaml

jobs:
  release:
    permissions:
      contents: write
    name: Publish Helm Chart
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v3

      - name: Checkout gh-pages
        uses: actions/checkout@v3
        with:
          ref: gh-pages
          path: public
          clean: false

      - name: Install Helm
        uses: azure/setup-helm@v3

      - name: Build Helm Chart
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm package charts/erpnext --destination public
          helm repo index public --url https://frappe-containers.castlecraft.in

      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: gh-pages
          build_dir: public
          keep_history: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
